[program:echo]
directory = %(ENV_APP_INSTALL_DIR)s

command = /usr/bin/env NODE_OPTIONS=--dns-result-order=ipv4first laravel-echo-server start

autostart = true
autorestart = true
startsecs = 7
startretries = 5
stopsignal = TERM
stopasgroup = true
killasgroup = true

user = %(ENV_CURRENT_USER)s

loglevel = %(ENV_SUPERVISOR_LOG_LEVEL)s
redirect_stderr = true
stdout_logfile = %(ENV_APP_INSTALL_DIR)s/storage/logs/echo.log

priority = 30

numprocs = 1
process_name = %(program_name)s
