[program:scheduler]
process_name = %(program_name)s_%(process_num)02d
command = php %(ENV_APP_INSTALL_DIR)s/artisan schedule:work
autostart = true
autorestart = true
user = %(ENV_CURRENT_USER)s
numprocs = 1
redirect_stderr = true
loglevel = %(ENV_SUPERVISOR_LOG_LEVEL)s
stdout_logfile = %(ENV_APP_INSTALL_DIR)s/storage/logs/scheduler.log
